@import "tailwindcss/preflight"; /* Resets browser styles */
@import "tailwindcss/theme"; /* Loads Tailwind's core styles */
@import "tailwindcss/utilities"; /* Enables utility classes */



@font-face {
    font-family: 'Futura';
    src: url('./assets/fonts/Futura.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }